<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Versa_Web-20190129122855.mdf;Initial Catalog=aspnet-Versa_Web-20190129122855;Integrated Security=True" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="versaDBEntities" connectionString="metadata=res://*/Models.Versa_Model.csdl|res://*/Models.Versa_Model.ssdl|res://*/Models.Versa_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.78;initial catalog=versa_dev;persist security info=True;user id=alejandro_c;password=T1c@gr0V3rs@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- <add name="versaDBEntities" connectionString="metadata=res://*/Models.Versa_Model.csdl|res://*/Models.Versa_Model.ssdl|res://*/Models.Versa_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.78;initial catalog=versapruebas;persist security info=True;user id=userversa;password=V3rs4_1*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <!-- <add name="versapruebasEntities" connectionString="metadata=res://*/Models.versa_Model.csdl|res://*/Models.versa_Model.ssdl|res://*/Models.versa_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.78;initial catalog=versapruebas;persist security info=True;user id=userversa;password=V3rs4_1*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <add name="WebVersaV2Entities" connectionString="metadata=res://*/Models.EntityFramework.WebVersaV2Model.csdl|res://*/Models.EntityFramework.WebVersaV2Model.ssdl|res://*/Models.EntityFramework.WebVersaV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.78;initial catalog=versapruebasdos;user id=userversados;password=123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WebVersaV3Entities" connectionString="metadata=res://*/Models.EntityFramework.WebVersaV3Model.csdl|res://*/Models.EntityFramework.WebVersaV3Model.ssdl|res://*/Models.EntityFramework.WebVersaV3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.78;initial catalog=website_grupo_versa;user id=userversa;password=V3rs4_1*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="showappdeployversion" value="true"></add>
    <add key="appdeployversion" value="2a.6.0.110619"></add>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- CONFIGURACION PARA EL ENTORNO DE EJECUCION START -->
    <!-- VALORES POSIBLES: "DESARROLLO" "PRODUCCION" -->
    <add key="ENTORNO_EJECUCION" value="DESARROLLO" />
    <!-- CONFIGURACION PARA EL ENTORNO DE EJECUCION END -->
    <!-- CONFIGURACION PARA ENVIO DE CORREOS DESDE SERVIDOR START -->
    <add key="PRODUCCION_SENDER_EMAIL" value="workflow@notificaciones.agroversa.com" />
    <add key="PRODUCCION_TO_EMAIL" value="atencionaclientes@agroversa.com;dtorres@grupoversa.com;ojuarez@grupoversa.com" />
    <add key="PRODUCCION_SENDER_PASSWORD" value="T1c@gr0V3rs@" />
    <add key="PRODUCCION_MAIL_SERVER" value="relay-hosting.secureserver.net" />
    <add key="PRODUCCION_SMTP_PORT" value="25" />
    <!-- CONFIGURACION PARA ENVIO DE CORREOS DESDE SERVIDOR END -->
    <!-- CONFIGURACION PARA ENVIO DE CORREOS LOCALES START -->
    <add key="DESARROLLO_SENDER_EMAIL" value="noreply.agroversa@gmail.com" />
    <add key="DESARROLLO_TO_EMAIL" value="noreply.agroversa@gmail.com" />
    <add key="DESARROLLO_SENDER_PASSWORD" value="M@gr0v3rs4" />
    <add key="DESARROLLO_MAIL_SERVER" value="smtp.gmail.com" />
    <add key="DESARROLLO_SMTP_PORT" value="587" />
    <!-- CONFIGURACION PARA ENVIO DE CORREOS LOCALES END -->
    <!-- CONFIGURACION PARA EL ENVIO DE CORREOS START -->
    <add key="ENVIO_CORREOS_USO_SSL" value="false"></add>
    <!-- CONFIGURACION PARA EL ENVIO DE CORREOS END -->
    <!-- CONFIGURACION PARA LAS TABLAS DE CULTIVO START -->
    <add key="titulo:defecto:cultivo" value="CULTIVO" />
    <add key="titulo:defecto:enfermedad" value="ENFERMEDAD" />
    <add key="titulo:defecto:dosis" value="DOSIS" />
    <add key="titulo:defecto:interseg" value="INTERVALO DE SEGURIDAD" />
    <add key="titulo:defecto:observaciones" value="OBSERVACIONES" />
    <add key="titulo:defecto:epoca" value="ÉPOCA" />
    <add key="titulo:defecto:lmrp" value="LMRP" />
    <add key="titulo:defecto:epa" value="EPA" />
    <add key="titulo:defecto:estudios" value="ESTUDIOS" />
    <add key="titulo:defecto:tolerancias" value="TOLERANCIAS" />
    <!-- CONFIGURACION PARA LAS TABLAS DE CULTIVO END -->
    <!-- CONFIGURACIÓN DE LA RUTA PARA RECUPERAR ARCHIVOS Y FICHEROS START -->
    <add key="RUTA_SERVICIO_ARCHIVOS" value="http://grupoversa.com/files/storage/" />
    <add key="RUTA_ARCHIVOS_ASSETS" value="~/Content/" />
    <!-- CONFIGURACIÓN DE LA RUTA PARA RECUPERAR ARCHIVOS Y FICHEROS END -->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" />
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>